/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}

/* Carousel */
.owl-item.active.center .item {
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
}

@media(min-width: 1200px){
    .owl-carousel{
        transform: scale(1.5);
    }
    .owl-item.active.center .item {
        transform: scale(1.1);
    }
}

.owl-item .item {
    opacity: 0.5;
    transition: transform 0.3s, opacity 0.3s;
}